{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-styled-components"
  ],
  "plugins": [
		"stylelint-order",
	],
  "processors": [
    [
      "stylelint-processor-styled-components", {
        "ignoreFiles": [
          "**/*.scss",
        ]
      }
    ]
  ],
  "rules": {
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
	}
}